<div class="banner-outer">
  <div class="banner">
      <ul>
          <% @categories.each do |category| %>
          <li>
            <div class="sites">
              <h1><%= category.name %></h1>
              <% @sites[category.id].each do |site| %>
                <div class="site">
                  <a href=<%= url_for(site.url)%> target="_blank">
                    <%= image_tag "http://www.google.com/profiles/c/favicons?domain=#{site.url}" %>
                    <%= site.name %>
                  </a>
                </div>
              <% end %>
            </div>
          </li>
          <% end %>
      </ul>
  </div>
</div>
