<h1>站点收藏</h1>
<% @categories.each do |category| %>
  <a name="<%= category.name %>"><h1><%= category.name %></h1></a>
  <% @sites[category.id].each do |site| %>
    <%= link_to site.name %>
  <% end %>
<% end %>
