<nav class="">
  <header>
    <ul class="nav">
      <ul>
        <li><%= link_to "详情概览",admin_home_index_path %></li>
        <li><%= link_to "我的站点",admin_sites_path %></li>
        <li><%= link_to "分类管理",admin_categories_path %></li>
      </ul>
    </ul>
  </header>
</nav>
