<nav class="">
  <header>
    <ul class="nav">
        <% count = 0 %>
        <% @categories.each do |category| %>
          <li>
            <div class="category-option"  value="<%= count %>">
              <%= category.name %>
            </div>
          </li>
          <% count+=1 %>
        <% end %>
    </ul>
  </header>
</nav>
