// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
@import 'unslider';
@import 'unslider-dots';
html,body{
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
body{
  // background-color: rgb(134, 215, 184);
}
.header{
  .navbar{
    border-radius: 0;
    background-color: rgb(134, 215, 184);
    a{
      cursor: pointer;
    }
  }
}
.container{
  h1{
    font-size: 25pt;
  }
  .side-part{
    padding-top: 30px;
    float:left;
    position:relative;
    ul{
      padding-left: 0;
      list-style: none;
      li{
        margin-bottom: 20px;
        text-align: center;
        div.category-option{
          cursor: pointer;
          background-color: rgb(134, 215, 184);
          width:81px;
          height:50px;
          line-height: 50px;
        }
      }
    }
  }
  .content-part{
    border:5px;
    float:right;
    width:80%;
    min-height: 545px;
    .sites{
      .site{
        background-color: white;
        float:left;
        margin-right: 15px;
        width:auto;
        height:35px;
        a{
          width:100%;
          height:100%;
          display: block;
        }
      }
    }
  }
}
.footer{
  text-align: center;
}
